[options]
addons_path = /mnt/enterprise-addons,/mnt/custom-addons/sales,/mnt/custom-addons/website,/mnt/custom-addons/helpdesk,/mnt/custom-addons/appraisals,/mnt/custom-addons/services,/mnt/custom-addons/accounting,/mnt/custom-addons/sign,/mnt/custom-addons/supply-chain,/mnt/custom-addons/productivity,/mnt/custom-addons/marketing,/mnt/custom-addons/human-resources,/mnt/custom-addons/technical,/mnt/custom-addons/administration,/mnt/oca-addons,/usr/lib/python3/dist-packages/odoo/addons

db_name = odoo
list_db = False
proxy_mode = True

workers = 4
max_cron_threads = 2
limit_memory_soft = 2147483648
limit_memory_hard = 2684354560
